/* Estilos generales */
body {
   
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F5597;
    z-index: -1;
}

.date-time-container {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    font-family: poppins;
    color: #ccc;
    text-align: right;
    z-index: 1;
    font-weight: bold;
    background: linear-gradient(90deg, #f4f3ee, #468faf);
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.3s ease-in-out;
}

/* Logo */
.logo-container {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 100px;
}

.logo {
    max-width: 150px;
}

.texto-titulo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    color: #ccc;
    font-family: poppins;
}

/* Contenedor Principal */
.container {
    text-align: center;
    flex-grow: 1;
}

h1 {
    font-size: 120px;
    margin: 0;
    font-family: poppins;
    font-weight: bold;
    background: linear-gradient(90deg, #f4f3ee, #468faf);
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.3s ease-in-out;
  }

.time-select button {
    padding: 4px 8px;
    font-size: 16px;
    margin: 3px;
    background-color: #2F5597;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.9s;
}

.buttons button {
    padding: 4px 8px;
    font-size: 16px;
    font-family: poppins;
    margin: 3px;
    background-color: #00B050;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.9s;
}

button:hover {
    background-color: #2F5597;
}

.credits {
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    color: #ccc;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}